{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Star Wars Wallpapers | Backgrounds | Images - StarWarsArts{% endblock title %}</title>
  <link rel="icon" href="{% static 'pages/img/favicon.ico' %}"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="theme-color" content="#000000"/>
  <meta
      name="description"
      content="Star Wars Arts and Star Wars Wallpapers provide full HD and 4K wallpapers and images.
              You can find Star Wars wallpapers of Darth Vader, Obi-Wan Kenobi, Luke Skywalker, Yoda, Mandalorian,
              Revan, R2-D2 and C-3PO, Princess Leia, Ahsoka Tano, Han Solo, Qui-Gon jinn, Palpatine, Din Djarin,
              Grogu, Thrawn, Chewbacca, Mace Windu, Darth Maul, Lando Calrissian, Grand Moff Tarkin, Jango Fett,
              Boba Fett, Count Dooku, Plo Koon, Padme Amidala, Mara jade, General Grievous, Kylo Ren, Rey and many
              others.  More than 30 Star Wars characters divided by categories!
              All Star Wars Wallpapers are nicely tagged, searchable and also easy to discover through our
              discover pages."
  />
  <meta
      name="keywords"
      content="starwars, darth vader, kylo ren, yoda, r2d2, rey, wallpaper,
              background, wallpapers, backgrounds, hd wallpapers, high
              definition wallpapers, desktop backgrounds, mobile wallpapers, tablet wallpapers,
              collection, franchise, Star Wars"
  />
  <meta
      itemprop="name"
      content="Star Wars Wallpapers | Backgrounds | Images - StarWarsArts"
  />
  <meta
      itemprop="description"
      content="Star Wars Arts and Star Wars Wallpapers provide full HD and 4K wallpapers and images.
              You can find Star Wars wallpapers of Darth Vader, Obi-Wan Kenobi, Luke Skywalker, Yoda, Mandalorian,
              Revan, R2-D2 and C-3PO, Princess Leia, Ahsoka Tano, Han Solo, Qui-Gon jinn, Palpatine, Din Djarin,
              Grogu, Thrawn, Chewbacca, Mace Windu, Darth Maul, Lando Calrissian, Grand Moff Tarkin, Jango Fett,
              Boba Fett, Count Dooku, Plo Koon, Padme Amidala, Mara jade, General Grievous, Kylo Ren, Rey and many
              others.  More than 30 Star Wars characters divided by categories!
              All Star Wars Wallpapers are nicely tagged, searchable and also easy to discover through our
              discover pages."
  />
  <meta itemprop="image" content="https://geekart.club/swarts.jpg"/>
  <meta
      name="twitter:title"
      content="Star Wars Wallpapers | Backgrounds | Images - StarWarsArts"
  />
  <meta
      name="twitter:description"
      content="Star Wars Arts and Star Wars Wallpapers provide full HD and 4K wallpapers and images.
              You can find Star Wars wallpapers of Darth Vader, Obi-Wan Kenobi, Luke Skywalker, Yoda, Mandalorian,
              Revan, R2-D2 and C-3PO, Princess Leia, Ahsoka Tano, Han Solo, Qui-Gon jinn, Palpatine, Din Djarin,
              Grogu, Thrawn, Chewbacca, Mace Windu, Darth Maul, Lando Calrissian, Grand Moff Tarkin, Jango Fett,
              Boba Fett, Count Dooku, Plo Koon, Padme Amidala, Mara jade, General Grievous, Kylo Ren, Rey and many
              others.  More than 30 Star Wars characters divided by categories!
              All Star Wars Wallpapers are nicely tagged, searchable and also easy to discover through our
              discover pages."
  />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="https://geekart.club/swarts.jpg"/>
  <meta
      property="og:title"
      content="Star Wars Wallpapers | Background Images - StarWarsArts"
  />
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://geekart.club/swarts.jpg"/>
  <meta property="og:image" content="https://geekart.club/swarts.jpg"/>
  <meta
      property="og:description"
      content="Star Wars Arts and Star Wars Wallpapers provide full HD and 4K wallpapers and images.
              You can find Star Wars wallpapers of Darth Vader, Obi-Wan Kenobi, Luke Skywalker, Yoda, Mandalorian,
              Revan, R2-D2 and C-3PO, Princess Leia, Ahsoka Tano, Han Solo, Qui-Gon jinn, Palpatine, Din Djarin,
              Grogu, Thrawn, Chewbacca, Mace Windu, Darth Maul, Lando Calrissian, Grand Moff Tarkin, Jango Fett,
              Boba Fett, Count Dooku, Plo Koon, Padme Amidala, Mara jade, General Grievous, Kylo Ren, Rey and many
              others.  More than 30 Star Wars characters divided by categories!
              All Star Wars Wallpapers are nicely tagged, searchable and also easy to discover through our
              discover pages."
  />
  <meta
      property="og:site_name"
      content="Star Wars Wallpapers | Background Images - StarWarsArts"
  />
  <meta
      name="google-site-verification"
      content="X9jTgg1AIVzzfVd3WEHYj2RtymgkT58Ade4PMmGvhaY"
  />
  <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Rubik:wght@500&display=swap"
      rel="stylesheet"
  />
  <script
      data-ad-client="ca-pub-8670714875122405"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYF1FY6E6E"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'G-TYF1FY6E6E');
  </script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/all.css' %}">
  <!-- JS -->
  <script type="text/javascript" src="{% static 'pages/js/navbar-menu.js' %}"></script>
  <script type="text/javascript" src="{% static 'pages/js/scroll-bar.js' %}"></script>

  <script type="text/javascript" src="{% static 'pages/js/jquery-3.1.1.min.js' %}"></script>
</head>
<body>
<!-- Header Start-->
<section>
  <div class="navbar">
    <form class="form-search" action="{% url 'home' %}" method="get">
      <button class="search-button">
        <i class="fa fa-search"></i>
      </button>
      <input class="input-search" type="search" name="query" placeholder="Search" required maxlength="15"
             value="{{ query }}"/>
    </form>
    <div class="menu-icon">
      <i class="fas fa-bars" id="nav-mobile-id" onclick="navbarToggle()"></i>
    </div>
    <ul class="nav-menu" id="nav-menu-id">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-links">Home</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-links">About</a></li>
      <li class="nav-item"><a href="{% url 'characters' %}" class="nav-links">Characters</a></li>
      <li class="nav-item"><a href="{% url 'contact' %}" class="nav-links">Contact Us</a></li>
      <li class="nav-item"><a href="{% url 'license' %}" class="nav-links-mobile">License</a></li>
    </ul>
    <a href="{% url 'license' %}">
      <button class="btn">Licence</button>
    </a>
  </div>
</section>
<!-- Header End -->
<!-- Main Start -->
<section class="main-content">
  <div>{% block content %}{% endblock content %}</div>
</section>
<!-- Main End -->
<!-- Footer Start -->
<section>
  <div class="footer-content">
    <div class="footer-flex">
      <div class="footer-grid">
        <div class="footer-grid-column">
          <p>About Us</p>
          <a href="https://www.linkedin.com/in/shukhrat-mirrakhimov-5765b5146" target="_blank">Author</a>
          <a href="https://geekart.club/general/the-history-of-geekart/" target="_blank">Story</a>
        </div>
        <div class="footer-grid-column">
          <p>Hot Links</p>
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'characters' %}">Characters</a>
          <a href="{% url 'contact' %}">Contact Us</a>
          <a href="{% url 'license' %}">License</a>
        </div>
        <div class="footer-grid-column">
          <p>Social</p>
          <a href="https://www.facebook.com/groups/advancedgeeks" target="_blank"><i
              class="fab fa-facebook-f fab-icons"></i>Facebook</a>
          <a href="https://www.instagram.com/advancedgeeks/" target="_blank"><i class="fab fa-instagram fab-icons"></i>Instagram</a>
          <a href="https://www.youtube.com/channel/UCz4Pli6Cyw4IDtIZ1GEcNFg" target="_blank"><i
              class="fab fa-youtube fab-icons"></i>YouTube</a>
          <a href="https://t.me/geekartclub" target="_blank"><i class="fab fa-telegram fab-icons"></i>Telegram</a>
        </div>
        <div class="footer-grid-column">
          <p>Contact Us</p>
          <a href="https://goo.gl/maps/uhxMZJmYE1CPh2x8A" target="_blank"><i
              class="fas fa-map-marker-alt fab-icons"></i>Oulu, Finland</a>
          <a href="mailto:shux121995@gmail.com"><i class="far fa-envelope fab-icons"></i>shux121995@gmail.com</a>
          <a href="https://goo.gl/maps/ZJ9yfxRagsr6EoTE9" target="_blank"><i
              class="fas fa-map-marker-alt fab-icons"></i>Incheon, South Korea</a>
          <a href="mailto:nazarov7mu@gmail.com"><i class="far fa-envelope fab-icons"></i>nazarov7mu@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer End -->
</body>
</html>

