{% extends 'base.html' %}
{% load static %}

{% block title %} Star Wars Wallpapers | Characters {% endblock title %}

{% block content %}
  <section class="about-hero" style="background-image: url({% static 'pages/img/characters.png' %})">
    <div class="about-text">
      <h1>The Best Star Wars characters from the Star Wars Arts team</h1>
      <h3>From scavengers to the most dangerous Jedi and Sith ever, our updated ranking of the heroes and
        villains in a galaxy far, far away</h3>
    </div>
  </section>
  <div class="characters-intro">
    There are plenty of Star Wars character rankings on the web.
    <a href="https://www.rollingstone.com/movies/movie-lists/50-best-star-wars-characters-of-all-time-145533/"
       target="_blank">Rolling Stone</a>,
    <a href="https://www.esquire.com/entertainment/movies/g30316032/best-star-wars-characters/"
       target="_blank">Esquire</a>,
    <a href="https://www.youtube.com/channel/UCo1bmdhnhLKvLAQWXSn92Wg" target="_blank">Thor
      Skywalker</a> – they all based
    the rankings on different reasons, polls, or just subjective opinions. We also decided not to stand aside and make
    our Top 30 characters and base categories upon this rating.
    <p><i>Note: Character descriptions are based on fan’s comments.</i></p>
  </div>
  <section class="wrapper-image">
    {% for character in  characters %}
      <div class="characters-container">
        <img src="{{ character.image.url }}" class="character-image" alt="title">
        <div class="characters-description">
          <h3>{{ character.rank }}. {{ character.title }}</h3>
          <div>{{ character.description | safe }}</div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}