# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea/

# Byte-compiled / optimized / DLL files
/__pycache__/
/forceartsapi/migrations/
/forceartsapi/migrations/__pycache__/
/djforcearts/__pycache__/
/forceartsapi/__pycache__/

/user/__pycache__/
/forceartsapi/tests/__pycache__/
/user/tests/__pycache__/

/pages/__pycache__/
/pages/migrations/__pycache__/

.env

/media/

.coverage

sqlite
